body {
    margin: 0px;
    background-image: none;
    position: relative;
    left: -0px;
    width: 1920px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

#base {
    position: absolute;
    z-index: 0;
}

#u24_img {
    border-width: 0px;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 1255px;
    height: 973px;
}

#u24 {
    border-width: 0px;
    position: absolute;
    left: 665px;
    top: 0px;
    width: 1255px;
    height: 973px;
    display: flex;
}

#u24 .text {
    position: absolute;
    align-self: center;
    padding: 2px 2px 2px 2px;
    box-sizing: border-box;
    width: 100%;
}

#u24_text {
    border-width: 0px;
    word-wrap: break-word;
    text-transform: none;
    visibility: hidden;
}

#u25_div {
    border-width: 0px;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 665px;
    height: 972px;
    background: inherit;
    background-color: rgba(255, 255, 255, 1);
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(255, 255, 255, 1);
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#u25 {
    border-width: 0px;
    position: absolute;
    left: -1px;
    top: 1px;
    width: 665px;
    height: 972px;
    display: flex;
}

#u25 .text {
    position: absolute;
    align-self: center;
    padding: 2px 2px 2px 2px;
    box-sizing: border-box;
    width: 100%;
}

#u25_text {
    border-width: 0px;
    word-wrap: break-word;
    text-transform: none;
    visibility: hidden;
}

#u26_div {
    border-width: 0px;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 470px;
    height: 53px;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-family: 'Bahnschrift Bold SemiCondensed', 'Bahnschrift SemiCondensed', 'Bahnschrift', sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 44px;
    text-align: center;
}

#u26 {
    border-width: 0px;
    position: absolute;
    left: 97px;
    top: 207px;
    width: 470px;
    height: 53px;
    display: flex;
    font-family: 'Bahnschrift Bold SemiCondensed', 'Bahnschrift SemiCondensed', 'Bahnschrift', sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 44px;
    text-align: center;
}

#u26 .text {
    position: absolute;
    align-self: center;
    padding: 0px 0px 0px 0px;
    box-sizing: border-box;
    width: 100%;
}

#u26_text {
    border-width: 0px;
    word-wrap: break-word;
    text-transform: none;
}

#u27_div {
    border-width: 0px;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 60px;
    height: 29px;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-family: 'Bahnschrift Light Condensed', 'Bahnschrift Condensed', 'Bahnschrift', sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 24px;
    color: #000000;
}

#u27 {
    border-width: 0px;
    position: absolute;
    left: 97px;
    top: 330px;
    width: 60px;
    height: 29px;
    display: flex;
    font-family: 'Bahnschrift Light Condensed', 'Bahnschrift Condensed', 'Bahnschrift', sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 24px;
    color: #000000;
}

#u27 .text {
    position: absolute;
    align-self: flex-start;
    padding: 0px 0px 0px 0px;
    box-sizing: border-box;
    width: 100%;
}

#u27_text {
    border-width: 0px;
    white-space: nowrap;
    text-transform: none;
}

#u28_img {
    border-width: 0px;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 471px;
    height: 2px;
}

#u28 {
    border-width: 0px;
    position: absolute;
    left: 97px;
    top: 396px;
    width: 470px;
    height: 1px;
    display: flex;
}

#u28 .text {
    position: absolute;
    align-self: center;
    padding: 2px 2px 2px 2px;
    box-sizing: border-box;
    width: 100%;
}

#u28_text {
    border-width: 0px;
    word-wrap: break-word;
    text-transform: none;
    visibility: hidden;
}

#u29_div {
    border-width: 0px;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 91px;
    height: 29px;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-family: 'Bahnschrift Light Condensed', 'Bahnschrift Condensed', 'Bahnschrift', sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 24px;
    color: #000000;
}

#u29 {
    border-width: 0px;
    position: absolute;
    left: 97px;
    top: 543px;
    width: 91px;
    height: 29px;
    display: flex;
    font-family: 'Bahnschrift Light Condensed', 'Bahnschrift Condensed', 'Bahnschrift', sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 24px;
    color: #000000;
}

#u29 .text {
    position: absolute;
    align-self: flex-start;
    padding: 0px 0px 0px 0px;
    box-sizing: border-box;
    width: 100%;
}

#u29_text {
    border-width: 0px;
    white-space: nowrap;
    text-transform: none;
}

#u30_img {
    border-width: 0px;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 471px;
    height: 2px;
}

#u30 {
    border-width: 0px;
    position: absolute;
    left: 97px;
    top: 610px;
    width: 470px;
    height: 1px;
    display: flex;
}

#u30 .text {
    position: absolute;
    align-self: center;
    padding: 2px 2px 2px 2px;
    box-sizing: border-box;
    width: 100%;
}

#u30_text {
    border-width: 0px;
    word-wrap: break-word;
    text-transform: none;
    visibility: hidden;
}

#u31_div {
    border-width: 0px;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 470px;
    height: 29px;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-family: 'Bahnschrift Light Condensed', 'Bahnschrift Condensed', 'Bahnschrift', sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 24px;
    color: #000000;
    text-align: center;
}

#u31 {
    border-width: 0px;
    position: absolute;
    left: 97px;
    top: 642px;
    width: 470px;
    height: 29px;
    display: flex;
    font-family: 'Bahnschrift Light Condensed', 'Bahnschrift Condensed', 'Bahnschrift', sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 24px;
    color: #000000;
    text-align: center;
}

#u31 .text {
    position: absolute;
    align-self: center;
    padding: 0px 0px 0px 0px;
    box-sizing: border-box;
    width: 100%;
}

#u31_text {
    border-width: 0px;
    word-wrap: break-word;
    text-transform: none;
}

#u32_div {
    border-width: 0px;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 470px;
    height: 46px;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-family: 'Bahnschrift Bold Condensed', 'Bahnschrift Condensed', 'Bahnschrift', sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 38px;
    color: #000000;
    text-align: center;
}

#u32 {
    border-width: 0px;
    position: absolute;
    left: 97px;
    top: 691px;
    width: 470px;
    height: 46px;
    display: flex;
    font-family: 'Bahnschrift Bold Condensed', 'Bahnschrift Condensed', 'Bahnschrift', sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 38px;
    color: #000000;
    text-align: center;
}

#u32 .text {
    position: absolute;
    align-self: center;
    padding: 0px 0px 0px 0px;
    box-sizing: border-box;
    width: 100%;
}

#u32_text {
    border-width: 0px;
    word-wrap: break-word;
    text-transform: none;
}

#u33_div {
    border-width: 0px;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 325px;
    height: 50px;
    background: inherit;
    background-color: rgba(33, 7, 225, 1);
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(33, 7, 225, 1);
    border-radius: 130px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-family: 'Bahnschrift', sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #FFFFFF;
}

#u33 {
    border-width: 0px;
    position: absolute;
    left: 170px;
    top: 799px;
    width: 325px;
    height: 50px;
    display: flex;
    font-family: 'Bahnschrift', sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #FFFFFF;
}

#u33 .text {
    position: absolute;
    align-self: center;
    padding: 2px 2px 2px 2px;
    box-sizing: border-box;
    width: 100%;
}

#u33_div.mouseOver {
    border-width: 0px;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 325px;
    height: 50px;
    background: inherit;
    background-color: rgba(255, 255, 255, 1);
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(33, 7, 225, 1);
    border-radius: 130px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-family: 'Bahnschrift', sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #FFFFFF;
}

#u33.mouseOver {}

#u33_text {
    border-width: 0px;
    word-wrap: break-word;
    text-transform: none;
}

#u34_img {
    border-width: 0px;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 30px;
    height: 30px;
}

#u34 {
    border-width: 0px;
    position: absolute;
    left: 1850px;
    top: 930px;
    width: 30px;
    height: 30px;
    display: flex;
    color: #2107E1;
}

#u34 .text {
    position: absolute;
    align-self: center;
    padding: 2px 2px 2px 2px;
    box-sizing: border-box;
    width: 100%;
}

#u34_text {
    border-width: 0px;
    word-wrap: break-word;
    text-transform: none;
    visibility: hidden;
}

#u35_img {
    border-width: 0px;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 30px;
    height: 30px;
}

#u35 {
    border-width: 0px;
    position: absolute;
    left: 1790px;
    top: 930px;
    width: 30px;
    height: 30px;
    display: flex;
    color: #2107E1;
}

#u35 .text {
    position: absolute;
    align-self: center;
    padding: 2px 2px 2px 2px;
    box-sizing: border-box;
    width: 100%;
}

#u35_text {
    border-width: 0px;
    word-wrap: break-word;
    text-transform: none;
    visibility: hidden;
}

#u36_img {
    border-width: 0px;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 30px;
    height: 30px;
}

#u36 {
    border-width: 0px;
    position: absolute;
    left: 1730px;
    top: 930px;
    width: 30px;
    height: 30px;
    display: flex;
    color: #2107E1;
}

#u36 .text {
    position: absolute;
    align-self: center;
    padding: 2px 2px 2px 2px;
    box-sizing: border-box;
    width: 100%;
}

#u36_text {
    border-width: 0px;
    word-wrap: break-word;
    text-transform: none;
    visibility: hidden;
}

#u37_div {
    border-width: 0px;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 160px;
    height: 36px;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-family: 'Bahnschrift Bold Condensed', 'Bahnschrift Condensed', 'Bahnschrift', sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 30px;
    color: #2107E1;
    text-align: center;
}

#u37 {
    border-width: 0px;
    position: absolute;
    left: 156px;
    top: 127px;
    width: 160px;
    height: 36px;
    display: flex;
    font-family: 'Bahnschrift Bold Condensed', 'Bahnschrift Condensed', 'Bahnschrift', sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 30px;
    color: #2107E1;
    text-align: center;
}

#u37 .text {
    position: absolute;
    align-self: center;
    padding: 0px 0px 0px 0px;
    box-sizing: border-box;
    width: 100%;
}

#u37_text {
    border-width: 0px;
    white-space: nowrap;
    text-transform: none;
}

#u38_img {
    border-width: 0px;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 50px;
    height: 50px;
}

#u38 {
    border-width: 0px;
    position: absolute;
    left: 97px;
    top: 120px;
    width: 50px;
    height: 50px;
    display: flex;
}

#u38 .text {
    position: absolute;
    align-self: center;
    padding: 2px 2px 2px 2px;
    box-sizing: border-box;
    width: 100%;
}

#u38_text {
    border-width: 0px;
    word-wrap: break-word;
    text-transform: none;
    visibility: hidden;
}

#u39_div {
    border-width: 0px;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 363px;
    height: 36px;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-family: 'Bahnschrift Light Condensed', 'Bahnschrift Condensed', 'Bahnschrift', sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 30px;
    color: #FFFFFF;
    text-align: center;
}

#u39 {
    border-width: 0px;
    position: absolute;
    left: 686px;
    top: 927px;
    width: 363px;
    height: 36px;
    display: flex;
    font-family: 'Bahnschrift Light Condensed', 'Bahnschrift Condensed', 'Bahnschrift', sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 30px;
    color: #FFFFFF;
    text-align: center;
}

#u39 .text {
    position: absolute;
    align-self: center;
    padding: 0px 0px 0px 0px;
    box-sizing: border-box;
    width: 100%;
}

#u39_text {
    border-width: 0px;
    white-space: nowrap;
    text-transform: none;
}

#u40_div {
    border-width: 0px;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 470px;
    height: 19px;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#u40 {
    border-width: 0px;
    position: absolute;
    left: 97px;
    top: 747px;
    width: 470px;
    height: 19px;
    display: flex;
}

#u40 .text {
    position: absolute;
    align-self: center;
    padding: 2px 2px 2px 2px;
    box-sizing: border-box;
    width: 100%;
}

#u40_text {
    border-width: 0px;
    word-wrap: break-word;
    text-transform: none;
}

#u41_input {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 470px;
    height: 25px;
    padding: 2px 2px 2px 2px;
    font-family: 'Bahnschrift Light Condensed', 'Bahnschrift Condensed', 'Bahnschrift', sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 20px;
    letter-spacing: normal;
    color: #000000;
    vertical-align: none;
    text-align: left;
    text-transform: none;
    background-color: transparent;
    border-color: transparent;
}

#u41_input.hint {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 470px;
    height: 25px;
    padding: 2px 2px 2px 2px;
    font-family: 'Bahnschrift Light Condensed', 'Bahnschrift Condensed', 'Bahnschrift', sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 20px;
    letter-spacing: normal;
    color: #999999;
    vertical-align: none;
    text-align: left;
    text-transform: none;
    background-color: transparent;
    border-color: transparent;
}

#u41_input.disabled {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 470px;
    height: 25px;
    padding: 2px 2px 2px 2px;
    font-family: 'Bahnschrift Light Condensed', 'Bahnschrift Condensed', 'Bahnschrift', sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 20px;
    letter-spacing: normal;
    color: #000000;
    vertical-align: none;
    text-align: left;
    text-transform: none;
    background-color: transparent;
    border-color: transparent;
}

#u41_input.hint.disabled {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 470px;
    height: 25px;
    padding: 2px 2px 2px 2px;
    font-family: 'Bahnschrift Light Condensed', 'Bahnschrift Condensed', 'Bahnschrift', sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 20px;
    letter-spacing: normal;
    color: #999999;
    vertical-align: none;
    text-align: left;
    text-transform: none;
    background-color: transparent;
    border-color: transparent;
}

#u41_img {
    border-width: 0px;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 470px;
    height: 25px;
}

#u41 {
    border-width: 0px;
    position: absolute;
    left: 97px;
    top: 371px;
    width: 470px;
    height: 25px;
    display: flex;
    font-family: 'Bahnschrift Light Condensed', 'Bahnschrift Condensed', 'Bahnschrift', sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 20px;
}

#u41 .text {
    position: absolute;
    align-self: center;
    padding: 2px 2px 2px 2px;
    box-sizing: border-box;
    width: 100%;
}

#u41_img.hint {}

#u41.hint {}

#u41_img.disabled {}

#u41.disabled {}

#u41_img.hint.disabled {}

#u41.hint.disabled {}

#u42_input {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 470px;
    height: 25px;
    padding: 2px 2px 2px 2px;
    font-family: 'Bahnschrift Light Condensed', 'Bahnschrift Condensed', 'Bahnschrift', sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 20px;
    letter-spacing: normal;
    color: #000000;
    vertical-align: none;
    text-align: left;
    text-transform: none;
    background-color: transparent;
    border-color: transparent;
}

#u42_input.hint {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 470px;
    height: 25px;
    padding: 2px 2px 2px 2px;
    font-family: 'Bahnschrift Light Condensed', 'Bahnschrift Condensed', 'Bahnschrift', sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 20px;
    letter-spacing: normal;
    color: #999999;
    vertical-align: none;
    text-align: left;
    text-transform: none;
    background-color: transparent;
    border-color: transparent;
}

#u42_input.disabled {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 470px;
    height: 25px;
    padding: 2px 2px 2px 2px;
    font-family: 'Bahnschrift Light Condensed', 'Bahnschrift Condensed', 'Bahnschrift', sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 20px;
    letter-spacing: normal;
    color: #000000;
    vertical-align: none;
    text-align: left;
    text-transform: none;
    background-color: transparent;
    border-color: transparent;
}

#u42_input.hint.disabled {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 470px;
    height: 25px;
    padding: 2px 2px 2px 2px;
    font-family: 'Bahnschrift Light Condensed', 'Bahnschrift Condensed', 'Bahnschrift', sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 20px;
    letter-spacing: normal;
    color: #999999;
    vertical-align: none;
    text-align: left;
    text-transform: none;
    background-color: transparent;
    border-color: transparent;
}

#u42_img {
    border-width: 0px;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 470px;
    height: 25px;
}

#u42 {
    border-width: 0px;
    position: absolute;
    left: 97px;
    top: 584px;
    width: 470px;
    height: 25px;
    display: flex;
    font-family: 'Bahnschrift Light Condensed', 'Bahnschrift Condensed', 'Bahnschrift', sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 20px;
}

#u42 .text {
    position: absolute;
    align-self: center;
    padding: 2px 2px 2px 2px;
    box-sizing: border-box;
    width: 100%;
}

#u42_img.hint {}

#u42.hint {}

#u42_img.disabled {}

#u42.disabled {}

#u42_img.hint.disabled {}

#u42.hint.disabled {}

#u43_div {
    border-width: 0px;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 45px;
    height: 29px;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-family: 'Bahnschrift Light Condensed', 'Bahnschrift Condensed', 'Bahnschrift', sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 24px;
    color: #000000;
}

#u43 {
    border-width: 0px;
    position: absolute;
    left: 97px;
    top: 460px;
    width: 45px;
    height: 29px;
    display: flex;
    font-family: 'Bahnschrift Light Condensed', 'Bahnschrift Condensed', 'Bahnschrift', sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 24px;
    color: #000000;
}

#u43 .text {
    position: absolute;
    align-self: flex-start;
    padding: 0px 0px 0px 0px;
    box-sizing: border-box;
    width: 100%;
}

#u43_text {
    border-width: 0px;
    white-space: nowrap;
    text-transform: none;
}

#u44_img {
    border-width: 0px;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 471px;
    height: 2px;
}

#u44 {
    border-width: 0px;
    position: absolute;
    left: 97px;
    top: 527px;
    width: 470px;
    height: 1px;
    display: flex;
}

#u44 .text {
    position: absolute;
    align-self: center;
    padding: 2px 2px 2px 2px;
    box-sizing: border-box;
    width: 100%;
}

#u44_text {
    border-width: 0px;
    word-wrap: break-word;
    text-transform: none;
    visibility: hidden;
}

#u45_input {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 470px;
    height: 25px;
    padding: 2px 2px 2px 2px;
    font-family: 'Bahnschrift Light Condensed', 'Bahnschrift Condensed', 'Bahnschrift', sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 20px;
    letter-spacing: normal;
    color: #000000;
    vertical-align: none;
    text-align: left;
    text-transform: none;
    background-color: transparent;
    border-color: transparent;
}

#u45_input.hint {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 470px;
    height: 25px;
    padding: 2px 2px 2px 2px;
    font-family: 'Bahnschrift Light Condensed', 'Bahnschrift Condensed', 'Bahnschrift', sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 20px;
    letter-spacing: normal;
    color: #999999;
    vertical-align: none;
    text-align: left;
    text-transform: none;
    background-color: transparent;
    border-color: transparent;
}

#u45_input.disabled {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 470px;
    height: 25px;
    padding: 2px 2px 2px 2px;
    font-family: 'Bahnschrift Light Condensed', 'Bahnschrift Condensed', 'Bahnschrift', sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 20px;
    letter-spacing: normal;
    color: #000000;
    vertical-align: none;
    text-align: left;
    text-transform: none;
    background-color: transparent;
    border-color: transparent;
}

#u45_input.hint.disabled {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 470px;
    height: 25px;
    padding: 2px 2px 2px 2px;
    font-family: 'Bahnschrift Light Condensed', 'Bahnschrift Condensed', 'Bahnschrift', sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 20px;
    letter-spacing: normal;
    color: #999999;
    vertical-align: none;
    text-align: left;
    text-transform: none;
    background-color: transparent;
    border-color: transparent;
}

#u45_img {
    border-width: 0px;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 470px;
    height: 25px;
}

#u45 {
    border-width: 0px;
    position: absolute;
    left: 97px;
    top: 501px;
    width: 470px;
    height: 25px;
    display: flex;
    font-family: 'Bahnschrift Light Condensed', 'Bahnschrift Condensed', 'Bahnschrift', sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 20px;
}

#u45 .text {
    position: absolute;
    align-self: center;
    padding: 2px 2px 2px 2px;
    box-sizing: border-box;
    width: 100%;
}

#u45_img.hint {}

#u45.hint {}

#u45_img.disabled {}

#u45.disabled {}

#u45_img.hint.disabled {}

#u45.hint.disabled {}

#u46_div {
    border-width: 0px;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 26px;
    height: 29px;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-family: 'Bahnschrift Light Condensed', 'Bahnschrift Condensed', 'Bahnschrift', sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 24px;
    color: #000000;
}

#u46 {
    border-width: 0px;
    position: absolute;
    left: 97px;
    top: 417px;
    width: 26px;
    height: 29px;
    display: flex;
    font-family: 'Bahnschrift Light Condensed', 'Bahnschrift Condensed', 'Bahnschrift', sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 24px;
    color: #000000;
}

#u46 .text {
    position: absolute;
    align-self: flex-start;
    padding: 0px 0px 0px 0px;
    box-sizing: border-box;
    width: 100%;
}

#u46_text {
    border-width: 0px;
    white-space: nowrap;
    text-transform: none;
}

#rol {
    font-family: 'Bahnschrift Light Condensed', 'Bahnschrift Condensed', 'Bahnschrift', sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 24px;
    color: #000000;
}